@import url(./assets/fonts/inter-font.css);
body,
button {
    font-family: "Inter", sans-serif;
}

:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }
}